body {      background-color: rgb(38, 96, 96);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
button{
    border-radius: 25px;
    color: white;
    background-color: black;
    width: 85px;
    height: 85px;
}

#calculator{
    background-color: bisque;
    padding: 20px
}
input{
    border-radius: 5px;
    width: 72.5%;
    height: 65px;
    font-size: larger
}

.colorof {
    background-color: rgb(105, 105, 105);
}
.colorofequal{
    background-color: green;
    border-radius: 15px;
}
#cancel{
    background-color: rgb(251, 81, 104);
    border-radius: 50px;
}